.hov_img_container {
	position: relative;
	margin-left:10px;
	margin-top: 30px;
	width: 250px;
	height: 250px;
	/*inline block allows for setting height and width*/
	display: inline-block; 
}

.hov_image {
	position: absolute;
	/*allows to NOT sit next to other images*/
	display: block;
	width: 100%;
	height: 250px;
	opacity: 1;
}

.hov_overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .4s cubic-bezier(0.4, 0, 1, 1);
  background-color: white;
  text-align:center;
}

.hov_text {
	position: absolute;
	color: white;
	font-family: Impact, fantasy;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 20px;
}

.hov_img_container:hover .hov_overlay {
	opacity: .8;
}

/*A link*/
a:link {
    color: blue;
}
/* A link that has been visited */
a:visited {
    color: blue;
}
/* A link that is hovered on */
a:hover {
    color: red;
}
/* A link that is selected */
a:active {
    color: red;
}

