.hov_img_container {
	position: relative;
	margin-left:10px;
	width: 200px;
	height: 200px;
	/*inline block allows for setting height and width*/
	display: inline-block; 
}

.hov_image {
	position: absolute;
	/*allows to NOT sit next to other images*/
	display: block;
	width: 200px;
	height: 200px;
	opacity: 1;
}

.hov_overlay {
	position: absolute;
	transition: all .3s ease;
	opacity: 0;
	background-color: black;
}

.hov_text {
	position: absolute;
	color: white;
	font-family: Impact, fantasy;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 20px;
}

.hov_overlay_fade {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: grey;
}

.hov_img_container:hover .hov_overlay_fade {
	opacity: 1;
}
