header {
	padding: 40px;
	background-color: #465775;
}

.header_main{
	font-size: 250%;
	color: #FFE066;
	text-align: center;
	font-family: Arial, Sans-serif;
}

nav {
	margin-bottom: 15px;
	padding: 7px;
	background-color: #59C9A5;
	font-size: 115%;
	color: black;
	text-align: right;
}

.background{
	background-color: #FAF6F6;
}

body{
	background-color: #EFFBFF;
}

h4 {
	color: #9E0059;
	font-family: Arial, Sans-serif;
	font-size: 150%;
}

h3 {
	color: #9E0059;
	font-family: Arial, Sans-serif;
	font-size: 200%;
	text-align: center;
}

h2 {
	color: #9E0059;
	font-size: 200%;
	text-align: center;
}

p {
	color: black;
	font-family: Arial, Sans-serif;
	font-size: large;
}

ul {
	color: black;
	font-family: Arial, Sans-serif;
	font-size: medium;
}

#grad1 {
	background-color: peachpuff;
	background-image: linear-gradient(to right, peachpuff,  wheat);
}

/*A link*/
a:link {
    color: #1446A0;
}
/* A link that has been visited */
a:visited {
    color: #1446A0;
}
/* A link that is hovered on */
a:hover {
    color: red;
}
/* A link that is selected */
a:active {
    color: red;
}

.image{
	max-width: 100%;
	padding-bottom: 20px;
}

.center{
	text-align: center;
}

pre, code {
  font-family: Sans-serif, Sans-serif;
}
pre {
  overflow: auto;
}
pre > code {
  display: block;
  padding: 1rem;
  word-wrap: normal;
}


