header {
	margin: 5px 10px;
	#grad {
		background-color: lavender;
		background-image: linear-gradient(to right, white, lavender);
	}
}

nav {
	margin: 3px 10px;
}

h3 {
	color: firebrick;
	font-family: Impact, fantasy;
	font-size: 200%;
}

p {
	color: coral;
	font-family: courier new, monospace;
	font size: 100%;
}
