header {
	padding: 50px;
	background-color: #f2dede;
}

.header_main{
	font-size: 250%;
	color: blueviolet;
	text-align: center;
	font-family: Impact, fantasy;
}

nav {
	margin-bottom: 15px;
	padding: 7px;
	background-color: #a0d1fc;
	font-size: 115%;
	color: black;
	text-align: right;
}

.background{
	background-color: beige;
}

h4 {
	color: blue;
	font-family: Impact, fantasy;
	font-size: 150%;
}

h3 {
	color: blueviolet;
	font-family: Impact, fantasy;
	font-size: 200%;
	text-align: center;
}

p {
	color: black;
	font-family: courier new, monospace;
	font-size: large;
}

ul {
	color: black;
	font-family: courier new, monospace;
	font-size: medium;
}

#grad1 {
	background-color: peachpuff;
	background-image: linear-gradient(to right, peachpuff,  wheat);
}

/*A link*/
a:link {
    color: blue;
}
/* A link that has been visited */
a:visited {
    color: blue;
}
/* A link that is hovered on */
a:hover {
    color: red;
}
/* A link that is selected */
a:active {
    color: red;
}

.image{
	max-width: 100%;
}

.center{
	text-align: center;
}

pre, code {
  font-family: monospace, monospace;
}
pre {
  overflow: auto;
}
pre > code {
  display: block;
  padding: 1rem;
  word-wrap: normal;
}


